@inherits LayoutComponentBase
@using Dj.Models
@using Dj.Services
@inject AppState AppState
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<CascadingValue Value="AppState">
    <NavMenu />
</CascadingValue>

<div class="page">
    <main>
        @Body
    </main>
</div>


