@page "/"

<PageTitle>Aplikacija za priporočanje glasbe DJ-jem</PageTitle>

<HeadContent>
    <link href="css/Home.css" rel="stylesheet" />
</HeadContent>

<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DJ Glasba Priporočila</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>

    <section class="hero-section text-center" id="s1">
        <div class="container">
            <h1 class="display-1"><b>DJ Asistent</b></h1>
            <p class="lead" style="font-size:1.5rem">Izboljšajte komunikacijo med DJ-jem in publiko ter ustvarite dinamično atmosfero na vsaki zabavi.</p>
            <button class="button-fancy-hollow" onclick="location.href='#about'">Več o nas</button>
            <button class="button-fancy" onclick="location.href='#features'">Funkcionalnosti</button>
        </div>
    </section>

    <section id="about" class="feature-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="\Images\1.jpg" alt="O Ideji" class="img-fluid mb-4" style="border:2px solid white">
                </div>
                <div class="col-md-6">
                    <h2 class="text-left mb-4" style="color: #FF2E63">O IDEJI</h2>
                    <p>Naš produkt je spletna aplikacija za priporočanje glasbe z namenom izboljšanja in olajšanja komunikacije med DJ-jem in publiko, tako na javnih kot zasebnih zabavah. Prav tako pa produkt ustvari dinamično atmosfero na vsaki zabavi in zagotavlja možnost sodelovanja publike pri izbiri glasbe.</p>
                    <p>Ciljna publika so predvsem DJ-ji in organizatorji, ki morajo sodelovati z publiko. Aplikacija omogoča gostom, da priporočajo pesmi, glasujejo za priporočila drugih udeležencev in sodelujejo pri ustvarjanju zabavne atmosfere.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="features" class="feature-section bg-primary">
        <div class="container">
            <h2 style="margin-top:-50px;" class="text-center mb-4">FUNKCIONALNOSTI</h2>
            <div class="row" style="padding-top:40px">
                <div class="col-md-4 mb-4">
                    <div class="card" style="border:2px solid white">
                        <img src="\Images\4.png" style="height:300px; width:100%; object-fit:cover" class="img-fluid header-image" />
                        <div class="card-header" style="padding:5px">
                            <i class="fas fa-music feature-icon" style="padding:10px 20px 10px 10px"></i> <b style="font-size:1.5rem">Priporočanje Pesmi</b>
                        </div>
                        <div class="card-body">
                            <p>Gosti lahko priporočajo pesmi skozi spletno aplikacijo.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card" style="border:2px solid white">
                        <img src="\Images\5.jpg" style="height:300px; width:100%; object-fit:cover" class="img-fluid header-image" />
                        <div class="card-header" style="padding:5px">
                            <i class="fas fa-vote-yea feature-icon" style="padding:10px 20px 10px 10px"></i> <b style="font-size:1.5rem">Glasovanje</b>
                        </div>
                        <div class="card-body">
                            <p>Gostje lahko glasujejo za priporočila drugih udeležencev.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card" style="border:2px solid white">

                        <img src="\Images\6.jpg" style="height:300px; width:100%; object-fit:cover" class="img-fluid header-image" />
                        <div class="card-header" style="padding:5px">
                            <i class="fas fa-trophy feature-icon" style="padding:10px 20px 10px 10px"></i> <b style="font-size:1.5rem">Lestvice z Točkami</b>
                        </div>
                        <div class="card-body">
                            <p>Produkt vsebuje lestvice z točkami za najbolj aktivne goste.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="flip-cards" class="feature-section">
        <div class="container">
            <h2 class="text-center mb-4" style="margin-top:-50px;">KAKO SE UPORABLJA?</h2>
            <div class="row" style="padding-top:40px">

                <div class="col-md-6 mb-4">
                    <div class="flip-card flip-card-primary">
                        <div class="flip-card-inner">
                            <div class="flip-card-front" style="background:url('Images/8.jpg')">
                                <h1 style="font-weight:bold">Uporabniški Vidik</h1>
                            </div>
                            <div class="flip-card-back">
                                <h2 style="font-weight:bold">Uporabniški Vidik</h2>
                                <p style="font-size:1.25rem">1. Gost skenira QR kodo, ki jo ima DJ ali organizator. <br /> 2. Gost lahko glasuje za pesmi ali predlaga svoje pesmi. <br />    3. Če DJ izbere njegovo pesem, gost dobi več točk.</p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 mb-4">
                    <div class="flip-card flip-card-secondary">
                        <div class="flip-card-inner">
                            <div class="flip-card-front" style="background:url('Images/9.jpg'); background-position:50% 80%">
                                <h1 style="font-weight:bold">Vidik DJ-ja</h1>
                            </div>
                            <div class="flip-card-back">
                                <h2 style="font-weight:bold">Vidik DJ-ja</h2>
                                <p style="font-size:1.25rem">
                                    1. DJ vidi najbolj glasovane pesmi.<br>
                                    2. DJ izbira med njimi. <br />
                                    3. Organizator lahko dodeli nagrade najbolj aktivnim gostom na podlagi točk.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>